# Ignore all results except HTML reports from preprocessing
01_preprocessing/results/*
!01_preprocessing/results/**/*.html

# Ignore raw and reference data
data/

# Ignore logs, JSON, fastq, zip, and temp files
*.json
*.zip
*.fastq
*.log
*.tmp

# System and editor files
.env
*.DS_Store
.ipynb_checkpoints/
